<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            background: #fff; /* Change background color to white */
            color: #000; /* Change text color to black */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            margin-top: 100px;
        }
        .btn:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    </style>
    
</head>
<body>
    <div class="container text-center">
        <h1>Welcome to For the love of cooking App</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <a href="/sign_in" class="btn btn-primary btn-lg btn-block">Sign In</a>
            </div>
            <div class="col-md-6">
                <a href="/sign_up" class="btn btn-success btn-lg btn-block">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>
